<!DOCTYPE>
<html>
<head>
<title>Log-in</title>
  <script src="js/jquery.js"></script>
<link rel="stylesheet" href="stylesheets/semantic.min.css"/>
<script src="js/semantic.min.js"></script>





 

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
 
<body>

<div class="ui middle aligned center aligned grid" id="">
  <div class="column">
    <h2 class="ui black image header">
      <img src="/logo.png" class="ui small image">
      <div class="ui red small header">
        ICU Membership Management System
      </div>
    </h2>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <div class="content">
        Log in
      </div>
    </h2>
    <form class="ui large form" action='/login' method='POST'>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input class="ui fluid large red submit button" type='submit' value='Login' ></input>
        <br/>





      <div class="ui error message"></div>
  <% if (message.length > 0) { %>
    <div class="ui red message"><%= message %></div>
  <% } %>
    </form>

  </div>
</div>

</body>

</html>

