<html>
<head>
  <title>Add ner member</title>
  <script src="js/jquery.js"></script>
<link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
<script src="js/semantic.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true" />
  <meta charset="UTF-8">
    <style type="text/css">

    body{
      margin:10px 40px 0 40px;
    }

    #form{
      width:30%;
      padding-bottom: 20px;
    }

@media (max-width: 600px) {
 
}

    </style>
   
</head>
  <body>  
<div class="ui center aligned container">
<a href='/' class="ui small image"><img src="/logo.png" ></a></div>
<div class="ui inverted red stackable container menu">
  <a class="item" >Home</a>
  <a class="active item" href="/new">New Member</a>
  <a class="item" href="/search">Update/Search Member</a>
  <a class="item" href="/allmembers">View All member</a>
  <div class="right item">
    | Welcome! <%= user.exec.username %> |    
    <a class="ui inverted button" href="/logout">Log out</a>
    
  </div>
</div>
</div>
<div class="ui center aligned large header">
        Add New Member
      </div>

        <!-- show any messages that come back with authentication -->
  <% if (message1.length > 0) { %>
    <div class="ui red message"> <%= message1 %> </div>
  <% } %>
 <% if (message.length > 0) { %>
    <div class="ui green message"> <%= message %> </div>
  <% } %>

  <div class="ui center aligned container" id="form">
  <div class="ui blue segment">

    <form class="ui form" action='/signup' method='POST'>
    <div class="field">
        <label>Name* (Please capitalize first letter of last and first name.)</label>
        <input type="text" name="name" required/>
      </div>
        
          <div class="field">
        <label>Email*</label>
        <input type="text" name="email" required/>
      </div>
    <div class="field">
        <label>Phone Number*</label>
        <input type="text" name="number" required/>
      </div>

    <div class="field">
      <label>16-17 Membership Number*</label>
      <input type="text" name="card" required/>
    </div>
<div class="field">
        <label>Academic Year</label>
         <select class="ui fluid dropdown" name="year">
                  <option value="1">Year 1</option>
              <option value="2">Year 2</option>
              <option value="3">Year 3</option>
              <option value="4">Year 4</option>
              <option value="grad">Graduate</option>
             

                </select>
      </div>
 <div class="field"><label>Program</label>
                      <select class="ui fluid dropdown" name="program">
                  <option value="Rotman">Rotman</option>
              <option value="Architecture">Architecture</option>
              <option value="Math">Math/Physical science</option>
              <option value="CS">Computer Science</option>
              <option value="Lifesci">Life Science</option>
              <option value="Engineering">Engineering</option>
              <option value="Arts">Arts</option>
              <option value="Other">Others</option>

                </select>
      </div>

       <div class="field">
        <label>Student Number</label>
        <input type="text" name="stdnum"/>
      </div>
      
      <p>* means mandatory field.</p>
      
      <input class="ui blue button" type="submit" value='Sign up!'></input>
  
    </form>
  </div>  
</div>


  </body>

</html> 






