<!DOCTYPE>
<html>
<head>
<title>Update <%= member.member.name %></title>
  <script src="js/jquery.js"></script>
<link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
<script src="js/semantic.min.js"></script>
<style type="text/css">
    body {
      background-color: white;
      margin:10px 40px 0 40px;
    }

    .column {
      max-width: 1200px;


    }


  .ui.segment{
    width: 50%;
    margin: 0 auto; 
  }

  </style>

  
  
  
</head>
 
<body>

<div class="ui center aligned container">
<a href='/' class="ui small image"><img src="/logo.png" ></a></div>
<div class="ui inverted red stackable container menu">
  <a class="item" >Home</a>
  <a class="item" href="/new">New Member</a>
  <a class="active item" href="/new">Update/Search Member</a>
  <a class="item" href="/allmembers">View All member</a>
  <div class="right item">
    | Welcome! <%= user.exec.username %> |    
    <a class="ui inverted button" href="/logout">Log out</a>
    
  </div>
</div>

<div class="ui center aligned container">
  <div class = 'ui orange big label'><%= member.member.name %></div>
  <hr>
  <% if (Message.length > 0) { %>
          <div class="ui green message"><%= Message %></div>
        <% } %>


 <div class="ui center aligned segment" id="truck" >
      <form class="ui form" action='/update' method='POST'>
              <div class="field">
                <label>Email</label>
                <input type="text" name="email" value='<%= member.member.email %>'>
              </div>
               <input type="hidden" name="id" value='<%= member.member.ID %>'>
               <div class="field">
                <label>Phone Number</label>
                <input type="text" name="number" value='<%= member.member.number %>'>
              </div>
              
              <div class="field">
                <label>2014-15 Membership number</label>
                <input type="text" name="card14_15" value='<%= member.member.card14_15 %>'>
              </div>
             
              <div class="field">
                <label>2015-16 Membership number</label>
                <input type="text" name="card15_16" value='<%= member.member.card15_16 %>'>
              </div>
              
              <div class="field">
                <label>2016-17 Membership number</label>
                <input type="text" name="card16_17" value='<%= member.member.card16_17 %>'>
              </div>
              
              <div class="field">
                <label>Year</label>
                <input type="text" name="year" value='<%= member.member.year %>'>
              </div>
             
             <div class="field">
                <label>Program</label>
                <input type="text" name="program" value='<%= member.member.program %>'>
              </div>
              

              <div class="field">
                <label>Student Number</label>
                <input type="text" name="stdnum" value='<%= member.member.stdnum %>'>
              </div>
              
              <div class="ui error message"></div>
                <!-- show any messages that come back with authentication -->
        		  <input class="ui blue button" type="submit" value='Save'></input>
              <a class="ui green button" href="/members/<%= member.member.ID %>">Back to Profile</a>
            </form>

</div>
</div>



<br/><br/><br/><br/><br/>


</body>
</html>
